body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
    background: linear-gradient(to bottom, #040404,#3c3c3c,#7c7c7c,#747474);
}

.imprimirCotizacion-box {
    width: 320px;
    height: 420px;
    background: #0c1112;
    color: #edf1f2;
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 10px; 
    box-shadow: 0px 0px 2px 2px rgba(223, 191, 67, 0.5);
}

.imprimirCotizacion-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto; 
    margin-bottom: 20px;
}

.imprimirCotizacion-box h1{
    margin : 0; 
    padding: 0 0 20 px;
    text-align: center;
    font-size: 22px;
}

.imprimirCotizacion-box label{
    margin : 0; 
    padding: 0;
    font-weight: bold;
}

.imprimirCotizacion-box input {
    width: 100%;
    margin-bottom: 20px;
}

.imprimirCotizacion-box input[type = "submit"]{
    border: none;
    outline: none;
    height: 40px;
    background-color: #fcb900 ;
    color: #edf1f2;
    font-size: 18px;
    border-radius: 20px;
}

.imprimirCotizacion-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #dfbf43;
}

.imprimirCotizacion-box a:hover {
    color: #c2212a;
}

.imprimirCotizacion-box input[type="submit"]:hover {
    background-color: #c2212a; 
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.7); 
}

.imprimirCotizacion-box .botones {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.imprimirCotizacion-box .botones button {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    outline: none;
    width: 200px; 
    height: 40px; 
    background-color: #fcb900;
    color: #edf1f2;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin-right: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); 
}

.imprimirCotizacion-box .botones button:last-child {
    margin-right: 0; 
    margin-top: 20px;
}

.imprimirCotizacion-box .botones button:hover {
    background-color: #c2212a;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.12); 
}

