body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
    background: linear-gradient(to bottom, #040404,#3c3c3c,#7c7c7c,#747474);
}

.login-box {
    width: 30%; /* Ancho del contenedor se ajusta automáticamente */
    height: auto; /* Altura del contenedor se ajusta automáticamente */
    max-width: 90%; /* Máximo ancho del contenedor */
    max-height: 90%; /* Máxima altura del contenedor */
    background: #0c1112;
    color: #edf1f2;
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 30px; /* Padding interno del contenedor */
    border-radius: 10px; 
    box-shadow: 0px 0px 2px 2px rgba(223, 191, 67, 0.5);
}



.login-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto; 
    margin-bottom: 20px;
}

.login-box h1{
    margin : 0; 
    padding: 0 0 20 px;
    text-align: center;
    font-size: 22px;
}

.login-box label{
    margin : 0; 
    padding: 0;
    font-weight: bold;
}

.login-box button {
    width: calc(100% - 20px); /* Ajusté el ancho de los elementos de entrada y el botón */
    margin-bottom: 20px;
    border: none;
    outline: none;
    height: 40px;
    background-color: #fcb900 ;
    color: #edf1f2;
    font-size: 18px;
    border-radius: 20px;
}

.login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #fcb900;
}

.login-box button:hover {
    background-color: #c2212a;
}

.image_container img {
    max-width: 70%;
    max-height: 70%;
    display: block;
    margin: 0 auto;
}

