<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Administration</title>

    <link rel="stylesheet" href="/css/style_administration.css">

</head>
<body>
    <div class="administration-box">
        <h1>Productos</h1><br>
        <div class="box-container">

            <form id="p1ejemploForm" action="/login/CrudProduct" class="box">

                <h1>Producto 1</h1><br>
                <p>Nombre del producto</p><br>
                <input type="submit" value="Ver especificaciones">
            </form>

            <form id="p2ejemploForm" action="/login/CrudProduct" class="box">

                <h1>Producto 2</h1><br>
                <p>Nombre del producto</p><br>
                <input type="submit" value="Ver especificaciones">
            </form>

            <form id="p3ejemploForm" action="/login/CrudProduct" class="box">

                <h1>Producto 3</h1><br>
                <p>Nombre del producto</p><br>
                <input type="submit" value="Ver especificaciones">
            </form>
        </div>
    </div>
</body>
</html>
