<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type= "text/css" href="/css/style_feature_public.css">
    <title>TopGear</title>
</head>
<body>
    <div class="container">
        <div class="container_title">
            <h2 class="title">TopGear</h2>

        </div>
        <div class="container_item">    
            <label for="Marca">Elige la marca:</label>
            <select id="Automovil" name="Automovil">
                <option value="bmw">Bmw</option>
                <option value="audi">Audi</option>
                <option value="mazda">Mazda</option>
                <option value="toyota">Toyota</option>
            </select>
        </div>    
        <div class="container_item">
            <label for="Modelo">Modelo</label>
            <select id="Modelo" name="Modelo">
                <option value="A1">A1</option>
                <option value="B2">B2</option>
                <option value="C3">C3</option>
                <option value="D4">D4</option>
            </select>
        </div>
        <div class="container_item">
            <label for="Año">Año</label>
            <select id="Año" name="Año">
                <option value="2024">2024</option>
                <option value="2023">2023</option>
                <option value="2022">2022</option>
                <option value="2021">2021</option>
            </select>
        </div>

        <div class="button">
            <a href="productos.html">
                <button type="submit">Siguiente</button>
            </a>
        </div>
    </div>
</body>
</html>