<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Envió/Impresión</title>
    <link rel="stylesheet" href="/css/style_imprimirCotizacion.css">
</head>
<body>
    <div class="imprimirCotizacion-box">
        <h1>Seleccionar el modo de cotización</h1><br>
        <div class="botones">
            <button onclick="generarPDF()">Imprimir cotización</button>
            <button onclick="EnvioWp()">Enviar al WhatsApp</button>
        </div>
    </div>

    <script>
        function generarPDF() {
            window.location.href = "/pdf/generate";
        }

        function EnvioWp() {
            var subtotal = 0;
            var impuestoTotal = 0;

            var mensaje = "Cotización de Productos:\n";

            var mensajeCodificado = encodeURIComponent(mensaje);
            var urlWhatsApp = `https://wa.me/?text=${mensajeCodificado}`;

            window.location.href = urlWhatsApp;
        }
    </script>
</body>
</html>
