<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Cotizaciones de Usuarios</title>
    <link rel="stylesheet" href="/css/style_prices.css">
</head>
<body>
    <h1>Cotizaciones de Usuarios</h1>
    <div class="container">
        <div class="quote">
            <h2 class="quote-title">Cotización 1</h2>
            <p class="description">Para tu Toyota Prado 2015, te ofrecemos un cambio de aceite completo con aceite sintético o mineral de alta calidad, filtro de aceite nuevo y junta del tapón de drenaje, todo a un precio competitivo.</p>
            <button class="btn status-btn">Ver estado de la cotización</button>
        </div>
        <div class="quote">
            <h2 class="quote-title">Cotización 2</h2>
            <p class="description">Ofrecemos una revisión completa del sistema de frenos para tu Honda Civic 2018, incluyendo cambio de pastillas y discos, revisión de líquidos y ajuste general.</p>
            <button class="btn status-btn">Ver estado de la cotización</button>
        </div>
        <div class="quote">
            <h2 class="quote-title">Cotización 3</h2>
            <p class="description">Te ofrecemos una oferta para el servicio de mantenimiento de aire acondicionado de tu Volkswagen Golf 2020, que incluye limpieza de filtros, recarga de gas y comprobación de fugas.</p>
            <button class="btn status-btn">Ver estado de la cotización</button>
        </div>
    </div>
</body>
</html>
