<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style_product.css"> <!-- Enlace a la hoja de estilos -->

    <title>Producto</title>
    
</head>
<body>
    <div class="container_product">
        <div id="product-details"> 
            <!-- El contenido se llenará dinámicamente mediante JavaScript -->
        </div>
    </div>


    <a href="/product/12345">Producto 123</a>
    <script src="/js/product.js"></script>
</body>
</html>