<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalles del Producto</title>
    <link rel="stylesheet" href="/css/style_product.css"> <!-- Enlace a la hoja de estilos -->
    <script src="/js/productsScript.js"></script>
</head>
<body>
    <div class="container_product">
        <div class="title">
            <h1 th:text="${producto.nombre}"></h1>
        </div>

        <div class="image_container">
            <img th:src="${'/static/' + producto.iconUrl}" th:alt="'Imagen de ' + ${producto.nombre}" />
        </div>

        <div class="description">
            <p th:text="${producto.descripcionBreve}"></p>
        </div>

        <div class="price">
            <label th:text="'Valor: ' + ${producto.valor}"></label>
        </div>

        <div>
            <button>Agregar al carrito</button>
        </div>
    </div>
</body>
</html>
