<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>SelectedMode</title>
    <link rel="stylesheet" href="css/style_selectedMode.css">
</head>
<body>
    <div class="selectedMode-box">
        <h1>Seleccionar el modo de cotización</h1><br>
        <form id="cotizacionesForm" action="login.html">
            <input type="submit" value="Ver Cotizaciones">
        </form>
        <form id="administracionForm" action="Administration.html">
            <input type="submit" value="Administración de Productos">
        </form>
    </div>
</body>
</html>
