<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>validateCreate</title>
    <link rel="stylesheet" href="css/style_validateCreate.css">
</head>
<body>
    <div class="validateCreate-box">
        <h1>Producto añadido exitosamente</h1><br>
        <form id="volverForm" action="CrudProduct.html">
            <img src="/img/correctVerification.png" alt="Descripción de la imagen">
            <input type="submit" value="Volver a adm productos">
        </form>
    </div>
</body>
</html>
